{% extends 'layout.html' %}


{% block body %}
<div class="jumbotron my-0">
    <h1 class="display-4">Taking you higher!</h1>
    <p class="lead"> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Rem corrupti voluptatem vitae earum ex laudantium numquam! Aspernatur, sint ipsa repellendus dolorem libero nesciunt quisquam saepe quos est! Provident, tempore? Harum. </p>
    
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
</div>
<!-- FIRST BLOCK  -->
<div class="container-fluid" style="background-color: #006633;">
    <div class="row py-5 px-4" >
        <div class="col-md-4 text-center">
            <i class="fas fa-graduation-cap fa-5x"></i>
            <h4> College Courses </h4>
            <p> Lorem ipsum dolor, sit amet consectetur adipisicing elit. </p>
        </div>
        <div class="col-md-4 text-center">
            <i class="fas fa-check fa-5x"></i>
            <h4> We are K-12 Ready! </h4>
            <p> Lorem ipsum dolor, sit amet consectetur adipisicing elit. </p>
        </div>
        <div class="col-md-4 text-center">
            <i class="far fa-lightbulb fa-5x"></i>
            <h4> TESDA Courses </h4>
            <p> Lorem ipsum dolor, sit amet consectetur adipisicing elit. </p>
        </div>
    </div>
</div>
<!-- SECOND BLOCK  -->
<div class="container-fluid" style="background-color: #E6EBF1">
    <div class="row px-5 py-5">
        <div class="col-md-8">
            <h4> COLM News </h4>
            <hr>
            <p> Lorem ipsum dolor, sit amet consectetur adipisicing elit. </p>
        </div>        
        <div class="col-md-4">
            <h4> Announcements </h4>
            <hr>
            <p> Lorem ipsum dolor, sit amet consectetur adipisicing elit. </p>
        </div>
    </div>
</div>
    
    

{% endblock %}