{% extends 'layout.html' %}

{% block body %}
   
        <div class="row">           
            <div class="col-md-3">
                <div class="card">
                    <div class="card-title">
                        My Profile<br>
                        <small>@username</small>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col">Tweets</div>
                            <div class="col">Following</div>
                            <div class="col">Followers</div>
                        </div>
                    </div>
                </div>
            </div>                   
            <div class="col-md-6">
               <form class="" method="">
                    <input type="text" placeholder="What's happening?" class="form-control" id="myTweet"/>
                    <button id="sendTweet" class="btn btn-primary mt-1 float-right"> Tweet </button>                    
               </form>
                {% for tweet in tweets %}
                <div>
                    <small>Bryan Retweeted</small> <br>
                    <b><a href="#">Name</a></b> @{{tweet.username}} · {{ moment(tweet.date_created).fromNow(refresh=True)  }}
                    <p> {{ tweet.tweet}}</p>                    
                </div>
                {% endfor %}                
           
            </div>
            <div class="col-md-3">
                <div class="card bg-light mb-3" >
                    <div class="card-header">Header</div>
                    <div class="card-body">
                        <h5 class="card-title">Light card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>
            </div>
        </div>
   

{% endblock %}
